<meta http-equiv="Cotent-Type" const="text/html;charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>Simple Chat App</title>