<meta http-equiv="Cotent-Type" const="text/html;charset=UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<title>Simple Chat App</title>
<link rel="icon" type="image/x-icon" href="favicon.ico" />