/*General*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

header {
  align-items: center;
  background-color: orange;
  border-color: gray;
  border-radius: 0px 0px 0 15px;
  border-style: solid;
  border-width: 0px 0px 3px;
  display: flex;
  font-size: x-large;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.3em 0.5em 0.4em;
  width: 100%;
}

header h1 {
  color: white;
  text-shadow: 3px 3px 2px #5797ca;
}

/*Main*/

main {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 25%;
}

/*Username*/

#loggedin {
  font-size: large;
  font-weight: bold;
  padding: 0.5em;
}

#loggedInUsername {
  color: #4ba7f3;
  text-shadow: 2px 2px 2px black;
}

.section-username {
  background-color: orange;
}

#enter-username {
  font-size: large;
  font-weight: bold;
  padding: 0.5em 0.5em 0;
}

.change-username {
  display: flex;
  flex-flow: column nowrap;
}

.username-changer {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
}

#username {
  border-color: black;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  font-size: medium;
  flex: 2;
  text-indent: 1em;
  padding: 0.25em 0;
}

#send-username {
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 10px 10px 0px;
  border-color: black;
  border-style: solid;
  color: #5797ca;
  display: flex;
  font-weight: bold;
  font-size: medium;
  flex: 1;
  background-color: #3d4754;
  padding: 0.25em 0.5em;
  justify-content: center;
}

#send-username:active {
  background-color: #5797ca;
  color: #3d4754;
}

/*Active users*/

.active-users {
  background-color: orange;
  border-color: gray;
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5em 0.5em 0.5em 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.active-users-header {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#users {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-y: auto;
}

/*Chat*/

.chat {
  display: flex;
  flex-basis: 75%;
  flex-flow: column nowrap;
}

div#chatroom-wrapper {
  display: flex;
  flex: 12;
  height: (100vh - 12%);
  overflow: hidden;
}

div#chatroom {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
  overflow-y: auto;
  height: inherit;
  width: 100%;
}

div#input-zone {
  background-color: orange;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  padding: 0.5em;
}

#message {
  border-color: black;
  border-radius: 20px 0px 0px 20px;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  flex: 4;
  font-size: medium;
  padding: 0.5em;
  resize: none;
  text-indent: 1em;
}

button#send-message {
  border-radius: 0px 20px 20px 0px;
  border-width: 2px 2px 2px 0px;
  border-color: black;
  border-style: solid;
  background-color: rgb(129, 129, 129);
  background-color: #3d4754;
  color: #5797ca;
  font-size: x-large;
  font-weight: bold;
  flex-basis: 30%;
  flex: 1;
}

button#send-message:active {
  background-color: #5797ca;
  color: #3d4754;
}

div.message:after {
  content: "";
  clear: both;
  display: block;
}

div.message {
  border-radius: 20px;
  flex: 0;
  flex-flow: row-reverse;
  font-size: large;
  min-width: 10%;
  max-width: 70%;
  padding: 0.7em;
  text-indent: 1em;
  word-wrap: break-word;
  width: fit-content;
}

p.time {
  color: rgb(200, 200, 200);
  font-size: small;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  margin: 0;
}

span.username {
  font-weight: bolder;
}

.self {
  color: white;
  background-color: rgba(51, 49, 51, 0.7);
  text-align: right;
  margin: 5px 5px 0px auto;
}

.reg {
  font-weight: bold;
  background-color: rgba(51, 49, 51, 0.4);
  margin: 5px auto 0px 5px;
}

.self2 {
  display: none;
}

.separator {
  background-color: rgba(51, 49, 51, 1);
  border: none;
  border-radius: 0.4em;
  height: 0.3em;
  margin: 0.5em 0;
}

.refresh {
  background-image: url("./img/refresh.png");
  background-size: cover;
  border: 2px solid orange;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 40px;
  width: 40px;
}

.refresh:focus,
#message,
#username,
#send-message,
#send-username {
  outline: 0px;
}

.refresh:hover {
  border: 2px solid white;
}

.user {
  font-weight: bolder;
}

.id {
  font-weight: bolder;
  font-style: italic;
}

.userWrapper {
  background-color: seashell;
  border-radius: 20px;
  height: auto;
  padding: 5px 40px 5px 15px;
  margin-bottom: 5px;
}

/*Custom scroll*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0084ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* div.popupZone {
} */

div.popup {
  align-items: center;
  background-color: white;
  border: 2px solid gray;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  height: 40px;
  left: calc(50% - (200px / 2));
  min-width: 250px;
  padding: 0.5em;
  top: 15px;
  width: fit-content;
}

p.popup-text {
  font-size: medium;
  font-weight: bold;
  height: max-content;
  text-align: center;
  width: 100%;
}

.popup-icon {
  color: black;
  display: block;
  font-size: 20px;
  position: relative;
  top: 1px;
  text-align: center;
  width: 20px;
  height: 20px;
}
