/* @mixin vertiacal-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */
*/ * {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  height: 85.2%;
  font-family: "Comfortaa", sans-serif;
}

header {
  text-align: center;
}

h1 {
  margin: 1em auto 0.5em auto;
}

h3 {
  font-size: 0.8em;
  text-align: right;
  float: right;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
}

.loggedin {
  background-color: #bca9f5;
  width: max-content;
  padding: 10px 10px 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

div#change_username,
section#input_zone {
  border: 5px outset #8258fa;
}

section#section_username {
  height: 5%;
  margin-bottom: 10px;
}

div#change_username {
  display: inline-block;
  background-color: #bca9f5;
}

section#chatroom {
  border: 5px inset #8258fa;
  height: 85.2%;
  overflow-y: scroll;
  box-sizing: content-box;
  background-color: white;
}

section#input_zone {
  height: 7%;
  text-align: center;
  background-color: #bca9f5;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#message {
  display: inline-block;
  width: 88%;
  height: 70%;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
  height: 80%;
  width: 10%;
  border-radius: 3px;
  background-color: rgb(129, 129, 129);
    color: black;
    border: 4px solid rgb(81, 163, 84);
}

button#send_message:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 

}

button#send_message:active {
  background-color: #c5dfc6;
  box-shadow: 0 5px rgb(75, 74, 74);
  transform: translateY(-1.15em);
}

.typing {
  cursor: pointer;
}

.steady {
  opacity: 0.7;
  cursor: not-allowed;
}

p.message {
  margin: 0px;
  font-size: 2.5vh;
  padding: 0.75vh;
}

.messageTo {
  font-weight: bold;
  color: #3c63ce;
}

.messageFrom {
  font-weight: bold;
  color: #d8ca00;
}

.messageAnn {
  font-weight: bold;
  color: #f12222;
}
