<!DOCTYPE html>
<html>
  <head>
    <!-- Head elements included for external file -->
    <% include ../partials/head.ejs%>
  </head>

  <body>

    <main>
      <div class="left">
        <div class="upper-left">
          <header>
            <h1 class="main-title">Super Chat</h1>
          </header>
          <div id="hr-wrap">
            <hr id="title-separator"/>
          </div>
          <div class="section-username">
            <div class="change-username">
              <p id="enter-username">Change your username: </p>
              <div class="username-changer">
                <input id="username" maxlength="30" type="text" />
                <button id="send-username">Change</button>
              </div>
            </div>
            <p id="loggedin" style="display: none">
              You are logged in as: <b id="loggedInUsername"></b>
            </p>
          </div>
        </div>

        <div class="active-users">
          <div class="active-users-header">
            <h2>Users online: <span id="count">0</span></h2>
            <button class="refresh"></button>
          </div>

          <hr class="separator" />

          <div id="users"></div>
        </div>
      </div>

      <div class="chat">
          <div id="chatroom">
          </div>
          <div id="input-zone">
            <textarea
              id="message"
              placeholder="Message"
              maxlength="500 "
              autofocus
            ></textarea>
            <button id="send-message">
              Send
            </button>
          </div>
      </div>
    </main>

    <!-- Javascript scripts -->
    <% include ../partials/scripts.ejs %>
  </body>
</html>
