<!DOCTYPE html>
<html>
  <head>
    <!-- Head elements included for external file -->
    <% include ../partials/head.ejs%>
  </head>

  <body>
    <header>
      <h1 class="main-title">Super Chat</h1>
        <div class="section-username">
          <div class="change-username">
            <div class="username-changer">
              <input id="username" maxlength="30" autocomplete="off" placeholder="Change username" type="text" />
              <button id="send-username">Change</button>
            </div>
          </div>
          <p id="loggedin" style="display: none">
            Welcome <span id="loggedInUsername"></span> !!!
          </p>
        </div>
    </header>

    <main>
      <div class="left">
        <div class="active-users">
          <div class="active-users-header">
            <h2>Users online: <span id="count">0</span></h2>
            <button class="refresh"></button>
          </div>
          
          <hr class="separator" />

          <div id="users"></div>
        </div>
      </div>

      <div class="chat">
        <div id="chatroom-wrapper">
          <div id="chatroom">
          </div>
          <button id="scroll-bottom"><span class="fas fa-angle-double-down"></span></button>
        </div>
        <div id="input-zone">
          <textarea
            id="message"
            placeholder="Type here!"
            maxlength="500 "
            autofocus
          ></textarea>
          <button id="send-message">
            Send
          </button>
        </div>
      </div>
      
    </main>
    
    <!--<footer>
      <div class="popup">
        <p class="popup-text" name="text">This is some beta text</p>
        <span class="popup-icon fas fa-times"></span>
      </div>
    </footer>-->
    <!-- Javascript scripts -->
    <% include ../partials/scripts.ejs %>
  </body>
</html>
