<!DOCTYPE html>
<html>
  <head>
    <!-- Head elements included for external file -->
    <% include ../partials/head.ejs%>
  </head>

  <body>
    <header class="header"><h1 class="mainTitle">Super Chat</h1></header>

    <div class="main">
      <div class="side">
        <div class="sectionUsername">
          <div class="changeUsername">
            <input id="username" maxlength="30" type="text" />
            <button id="send_username" class="sendUsername" type="button">
              Change
            </button>
          </div>

          <p class="loggedin">
            You are logged in as:<br />
            <b id="loggedInUsername"></b>
          </p>
        </div>

        <div class="activeUsers">
          <div class="activeUsersHeader">
            <h2>Users online: <span id="count">0</span></h2>
            <button class="refresh"></button>
          </div>

          <hr class="separator" />

          <div id="users"></div>
        </div>
      </div>

      <div class="chat">
        <div id="chatroom_wrapper"><div id="chatroom"></div></div>

        <div id="input_zone">
          <textarea
            id="message"
            placeholder="Message"
            maxlength="500 "
            autofocus
          ></textarea>
          <button id="send_message" class="vertical-align" type="button">
            <b>Send</b>
          </button>
        </div>
      </div>
    </div>

    <!-- Javascript scripts -->
    <% include ../partials/scripts.ejs %>
  </body>
</html>
